
/* QuizIt Theme: Cream + Deep Blue*/

:root{
  --cream-bg: #FAF7F0;
  --deep-blue: #0A3A60;
  --text-charcoal: #1F1F1F;
}

body{
  background-color: var(--cream-bg);
  color: var(--text-charcoal);
}

.navbar {
  background-color: var(--deep-blue) !important;
}

.navbar-brand {
  color: var(--cream-bg) !important;
  font-size: 1.7rem;
}

.nav-link{
  color: var(--cream-bg) !important;

}

.nav-link:hover,
.navbar-brand:hover {
  opacity: 0.50;
}

.btn-primary {
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
  color: var(--cream-bg);
}

.btn-primary:hover {
  background-color: #0D4C7A; /* slightly lighter */
  border-color: #0D4C7A;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
