.footer {
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#0A3A60;
  color: #FAF7F0;
  text-align: center;
  position: fixed;
}

footer p {
  font-size: 17px;
  opacity: 90%;
  
}